#logo{
	height: 15px;
	width: 15px;
}

.above{
	background-color: black;

}
.below{
	background-color: green;
}
.myNav{
	margin-left: 10px;
	margin-right: 10px;
	max-width: 900px;	
}

.empty{
	height: 20px;
}
.anhNho{
	width: 90px;
	height: 110px;
	
}
.anhNhoDiv{
	margin-bottom: 10px;
}

.content{
	background-color: white;
	border: 1px solid #27A344;
}
.myBorder{
	
}

#myBtn {
          position: fixed; /* Fixed/sticky position */
          bottom: 20px; /* Place the button at the bottom of the page */
          right: 30px; /* Place the button 30px from the right */
          z-index: 99; /* Make sure it does not overlap */
          background-color: rgba(0,0,0,0.4); /* Set a background color */
          color: white; /* Text color */
          cursor: pointer; /* Add a mouse pointer on hover */
          padding: 15px; /* Some padding */
          border-radius: 10px; /* Rounded corners */
          font-size: 18px; /* Increase font size */
        }
 .background{
 	border: 1px solid black;
 	background-color: white;
 }